<mat-toolbar color="primary">
    <span> 
        <a routerLink="/"> My Messages</a> 
    </span>
    <span class="spacer"></span>
        <ul >
            <li *ngIf="isAuthenticated">
                <a mat-button  routerLink="create" routerLinkActive="mat-accent" >New Post</a>
            </li>
            <li *ngIf="!isAuthenticated">
                <a mat-button  routerLink="/auth/login" routerLinkActive="mat-accent" >Login</a>
            </li>
            <li *ngIf="!isAuthenticated">
                <a mat-button  routerLink="/auth/signin" routerLinkActive="mat-accent" >Signin</a>
            </li>
            <button mat-button *ngIf="isAuthenticated" (click)="logout()" >Logout</button>
            <li *ngIf="isAuthenticated"><img src="../../assets/sample2.jpg"></li>
        </ul>
    
</mat-toolbar>
